<div class="container">
<footer class="single_column">
  <nav class="footer_nav">
    <div class="join">
      <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt="The Movie Database (TMDB)" width="130" height="94">


        <a class="rounded logged_in" href="/u/Daniele-DF92">Ciao Daniele-DF92!</a>

    </div>

    <div>
      <h3>Le basi</h3>
      <ul>
        <li><a href="/about">Info su TMDB</a></li>
        <li><a href="/about/staying-in-touch">Contattaci</a></li>
        <li><a href="/talk">Forum di supporto</a></li>
        <li><a href="/documentation/api">API</a></li>
        <li><a href="https://status.themoviedb.org/" target="_blank" rel="noopener">System Status</a></li>
      </ul>
    </div>
    <div>
      <h3>Mettersi in gioco</h3>
      <ul>
        <li><a href="/bible"><span class="glyphicons glyphicons-asterisk"></span> Guida Contributi</a></li>
        <li><a href="/movie/new">Aggiungi Nuovo Film</a></li>
        <li><a href="/tv/new">Aggiungi Nuova Serie TV</a></li>
      </ul>
    </div>
    <div>
      <h3>Community</h3>
      <ul>
        <li><a href="/documentation/community/guidelines">Linee guida</a></li>
        <li><a href="/discuss">Discussioni</a></li>
        <li><a href="/leaderboard">Classifica</a></li>
        <li><a href="https://twitter.com/themoviedb" target="_blank" rel="noopener">Twitter</a></li>
      </ul>
    </div>
    <div>
      <h3>Legale</h3>
      <ul>
        <li><a href="/documentation/website/terms-of-use">Condizioni d'uso</a></li>
        <li><a href="/documentation/api/terms-of-use">Termini d'uso delle API</a></li>
        <li><a href="/privacy-policy">Politica Privacy</a></li>
      </ul>
    </div>
  </nav>

</footer>
</div>
