<div class="container">


  <main id="main" class="index">



    <section class="inner_content new_index taw_2021">
      <div id="media_v4" class="media discover">
        <div class="column_wrapper">
          <div class="content_wrapper wrap">
            <div class="numbers">
              <h2>2021</h2>
            </div>

            <div class="taw">
              <h2>That's a Wrap</h2>
              <h3><a href="/2021" title="That's a Wrap 2021">Let's dive into 2021's best and worst! →</a></h3>
            </div>

            <div class="search">
              <form id="inner_search_form"  method="get" accept-charset="utf-8">

                <label>
                  <input dir="auto" id="inner_search_v4" name="query" type="text" tabindex="1" autocorrect="off" autofill="off" autocomplete="off" spellcheck="false" placeholder="Cerca un film, serie tv, personaggio......" value="">
                </label>
                <input type="submit" value="Search">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
</div>
